.complain-desc {
    display: none;
    padding: 10px 15px;
}
.complain-class:hover{
    transition: all 0.2s ease;
    cursor: pointer;
}
.list-group-item {
    padding: 0!important;
}

.complain-subject{
    padding: 10px 15px;
    color: white;
    margin: 0px; 
    background-color: rgb(3, 27, 88);
}
.complain-subject.large{
    width: 200px;
}